footer {
    position: absolute;
    min-height: auto;
    background-image: url("https://i.postimg.cc/k51JwQqW/Footer.png");
    width: 100%;
    font-family: "Open Sans";
    padding-top: 170px;
    color: #fff;
    background-repeat: no-repeat;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0;
    padding: 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color 0.4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #485b51;
    padding-bottom: 20px;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}

.footer-content img {
    width: 120px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
