.nav {
            overflow: hidden;
            background-color: #FBFAF8;
            height: 60px;
            padding: 8px 15px;
        }

        .nav a {
            float: right;
            color: #1E1E1E;
            text-align: center;
            padding: 12px;
            text-decoration: none;
            background-color: #F3F1F1;
            font-size: 14px;
            margin: 10px;
            border-radius: 8px;
            font-weight: bold;

        }

        .nav a:hover {
            background-color: #ddd;
            color: #1E1E1E;
        }

        .nav a.active {
            float: left;
            background: none;
            padding-top: 0%;
            padding-left: 0%;
        }

        .nav a img {

            height: 40px;
            width: auto;
        }

        .nav a.logout {
            color: #8B1337;
            background: none;
        }

        .nav a.logout:hover {
            background-color: #921339;
            color: #cea5a5;
        }